<h1>This is the New Sparrow Form</h1>

<%= form_for(@sparrow) do |f| %>
  <% if @sparrow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sparrow.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @sparrow.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <%= f.label :species %><br>
    <%= f.text_area :species %><br>
  </div>

  <div class="field">
    Please Select multiple nests from these options:<br>
    <!-- This is how you would build the checkboxed with form builders -->
    <!-- # f.collection_check_boxes :nest_ids, Nest.all, :id, :location -->

    <!-- This is how you would start out in HTML to do the same thing -->
    <% Nest.all.each do |n| %>
      <p>
        <label for="nest_id_<%= n.id %>"><%= n.location %></label>
        <input type="checkbox" name="sparrow[nest_ids][]" value="<%= n.id %>" id="nest_id_<%= n.id %>">
      </p>
    <% end %>
  </div>

  <!-- Here is how you would insert some text_field(s) without form helpers -->
  <input type="text" id="sparrow_nest_attributes_0_location" name="sparrow[nest_attributes][0][location]" />
  <input type="text" id="sparrow_nest_attributes_1_location" name="sparrow[nest_attributes][1][location]" />

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
