<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.label :name, "Name" %><br>
    <%= f.text_field :name %><br>

    <%= f.label :content %><br>
    <%= f.text_area :content %><br>
  
 
 FIX THIS -- only old tags, says I have to create a new tag 
    <%= f.fields_for :tags do |tag| %>
     
        <%= tag.label :name, "Create a New Tag" %>
        <%= tag.text_field :name %>
    <% end %>
    

    
    <br />
    <%= f.label :name, "Choose a Tag:" %>  
      <p>
      <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |b| %>
       <%= b.label %>   <%= b.check_box %>
    <% end %>
    </p>


    <%= f.submit %>

<% end %>
