<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.label :name %><br>
    <%= f.text_field :name %><br>

    <%= f.label :content %><br>
    <%= f.text_area :content %><br>
  
 
    <%= f.fields_for :tags do |tag| %>
     
        <%= tag.label :tag %>
        <%= tag.text_area :name %>
 
    <% end %>
 

******

    Tags:
 

<ul>
  <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |b| %>
  <li>
    <%= b.label %>
    <%= b.check_box %>
  
  </li>
    <% end %>
</ul>
 
 # create new tag 
  
   


    <%= f.submit %>

<% end %>
