<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name %>
    </p>

    <p>
    <%= f.label :content, "Content:" %>
    <%= f.text_area :content %>
    </p>
  </div>

  <h4> Tags: </h4>

  <div class="field">
    <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %><br>
  </div>

  <div class="field">
    <%= f.fields_for :tags do |tag_attributes| %>
      <%= tag_attributes.label :name, "Tag Name:" %>
      <%= tag_attributes.text_field :name %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
