<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>
      <%= f.label :name %><br>
      <input type="text" name="post[name]" id= "Name" value= "<%=@post.name%>">
    </p>
    <p>
    <%= f.label :content %><br>
    <input type="text" name="post[content]" id= "Content" value= "<%=@post.content%>">
  </p>
  </div>
  Tags:
  <div class="field">

    <p><%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %></p>

    <p><%= f.fields_for :tags, @post.tags.build do |tag_fields| %>
      <%= tag_fields.check_box :_destroy%>
      <%= tag_fields.label "New Tag:" %><br>
      <input type="text" name="post[tags_attributes][name]" id= "Name">
    <% end %></p>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
