<h1>New post</h1>

<%= form_for @post do |f| %>
  <%= f.label "Name" %>
  <%= f.text_field :name %>
  <br><br>

  <%= f.label "Content" %>
  <%= f.text_area :content %>
  <br><br>

  <%= f.label "Choose an already existing tag" %>
  <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
  <br>
  <%= f.label "Or Create a New Tag" %>
  <%= f.fields_for :tags, Tag.new do |tag_builder| %>
    <%= tag_builder.text_field :name %>
  <% end %>

  <%= f.submit %>
<% end %>

<%= link_to 'Back', posts_path %>

  
