<p id="notice"><%= notice %></p>

<p>
  <h3>Name:</h3>
  <%= @post.name %>
  <h3>Content:</h3>
  <%= @post.content %>
  <h3>Tags:</h3>
  <ul>
    <% @post.tags.each do |tag| %>
    <li><%= tag.name %></li>
    <% end %>
  </ul>

  <%= form_for @post do |f| %>

    <div class="field">
      <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %><br>
    </div>

    <div class="field">
      <%= f.fields_for :tags, Tag.new do |tag_builder| %>
      <%= tag_builder.label :name %>
      <%= tag_builder.text_field :name %>
    <% end %>
    </div>


    <%= f.submit 'Submit New Tag'%>
  <% end %>


</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
