<!DOCTYPE html>
<html>
<head>
  <title>RailsBlog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to :users, users_path %>
<%= link_to :posts, posts_path %>
<%= link_to :tags, tags_path %><br>

<%= link_to :new_user, new_user_path %>
<%= link_to :new_post, new_post_path %>
<%= link_to :new_tag, new_tag_path %>



<%= yield %>

</body>
</html>
